<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3d3d1a6-1607-48e7-ba29-d0a6ba978ebf" Alias="0Wq Ta6zovw" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/WqTa6zovw</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-15T12:40:08</CreateDate>
    <NodeName Default="0Wq Ta6zovw" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/udinhmyh/0wq_ta6zovw.jpg",
  "focalPoint": {
    "left": 0.48,
    "top": 0.4745127436281859
  }
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>