<?xml version="1.0" encoding="utf-8"?>
<Media Key="5566c786-bbef-416b-ac32-6a1882d9a2bf" Alias="16274650872230" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-19T14:37:12</CreateDate>
    <NodeName Default="16274650872230" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qddhmvpp/16274650872230.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>