<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c4f75fa-0d5f-400a-8a20-1dabb1e72ddf" Alias="16280206349280" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-20T12:07:39</CreateDate>
    <NodeName Default="16280206349280" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5r0f4xc5/16280206349280.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>