<?xml version="1.0" encoding="utf-8"?>
<Media Key="33884afc-b1ab-4926-8abe-cc0af4c10ea3" Alias="3. Third news" Level="3">
  <Info>
    <Parent Key="be964690-1f9a-458b-95d5-562232b75392">Articles</Parent>
    <Path>/Home/Articles/ThirdNews</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-02-14T21:30:36</CreateDate>
    <NodeName Default="3. Third news" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>