<?xml version="1.0" encoding="utf-8"?>
<Media Key="52294a77-e90b-4f43-81f3-39032facf46c" Alias="812B1c0559696c010fe1f25803cd2dc2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/B1c0559696c010fe1f25803cd2dc2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-13T17:32:38</CreateDate>
    <NodeName Default="812B1c0559696c010fe1f25803cd2dc2" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/offcsuql/812b1c0559696c010fe1f25803cd2dc2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>