<?xml version="1.0" encoding="utf-8"?>
<Media Key="216804bd-4287-4656-a771-ed58e84e2902" Alias="812B1c0559696c010fe1f25803cd2dc2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/B1c0559696c010fe1f25803cd2dc2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-18T21:42:03</CreateDate>
    <NodeName Default="812B1c0559696c010fe1f25803cd2dc2" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xmcgqimh/812b1c0559696c010fe1f25803cd2dc2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>