<?xml version="1.0" encoding="utf-8"?>
<Media Key="935c6ffc-4440-48a6-91ba-0e7986ff60fd" Alias="81Cf609c82f949b15ffe0014915fa205" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cf609c82f949b15ffe0014915fa205</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-18T21:36:02</CreateDate>
    <NodeName Default="81Cf609c82f949b15ffe0014915fa205" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5jxfze0a/81cf609c82f949b15ffe0014915fa205.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>