<?xml version="1.0" encoding="utf-8"?>
<Media Key="feecbb31-5e33-4f8a-8732-00b199d2e200" Alias="9 6Prwk Wbk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PrwkWbk</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-18T21:41:03</CreateDate>
    <NodeName Default="9 6Prwk Wbk" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g43pz5rt/9_6prwk-wbk.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>