<?xml version="1.0" encoding="utf-8"?>
<Media Key="d39704a8-82ec-4440-9d47-eee7749b5d3d" Alias="Artifacts" Level="2">
  <Info>
    <Parent Key="4361ac5e-3801-4a16-8e24-c0dc64532789">Glossary</Parent>
    <Path>/Glossary/Artifacts</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-03-08T13:42:06</CreateDate>
    <NodeName Default="Artifacts" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>