<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6c86491-bd78-4437-adb0-0b3d6870c60f" Alias="backgrounds" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/backgrounds</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-02-15T15:08:27</CreateDate>
    <NodeName Default="backgrounds" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>