<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6c86491-bd78-4437-adb0-0b3d6870c60f" Alias="backgrounds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/backgrounds</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-02-15T15:08:27</CreateDate>
    <NodeName Default="backgrounds" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>