<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a1edb24-cef5-4511-b52c-97672b3e308d" Alias="Bg Bottom" Level="2">
  <Info>
    <Parent Key="d6c86491-bd78-4437-adb0-0b3d6870c60f">backgrounds</Parent>
    <Path>/backgrounds/BgBottom</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-15T15:09:12</CreateDate>
    <NodeName Default="Bg Bottom" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/elnb2sxv/bg-bottom.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>