<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0af143b-fb88-460b-ac72-af46d63e77f7" Alias="Bg Fixed 3" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BgFixed3</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-15T15:07:24</CreateDate>
    <NodeName Default="Bg Fixed 3" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hukk5uei/bg-fixed-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>