<?xml version="1.0" encoding="utf-8"?>
<Media Key="73595308-3339-4813-98a0-b4ec806d94b0" Alias="Bg Fixed 2" Level="2">
  <Info>
    <Parent Key="7a405db9-3104-4a6e-8b85-7f37c4731d08">background</Parent>
    <Path>/background/BgFixed2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-18T21:40:00</CreateDate>
    <NodeName Default="Bg Fixed 2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bzjfs2zz/bg-fixed-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>