<?xml version="1.0" encoding="utf-8"?>
<Media Key="06b05dd8-0359-4c6b-9aea-bca55cb86191" Alias="Bg Top 5" Level="2">
  <Info>
    <Parent Key="7a405db9-3104-4a6e-8b85-7f37c4731d08">background</Parent>
    <Path>/background/BgTop5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-18T21:40:03</CreateDate>
    <NodeName Default="Bg Top 5" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1zolabsz/bg-top-5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>