<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab94abfb-3baa-4a7f-822a-8a6640918ef1" Alias="Bg Top 5" Level="2">
  <Info>
    <Parent Key="d6c86491-bd78-4437-adb0-0b3d6870c60f">backgrounds</Parent>
    <Path>/backgrounds/BgTop5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-15T15:09:12</CreateDate>
    <NodeName Default="Bg Top 5" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5wvjjk3k/bg-top-5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>