<?xml version="1.0" encoding="utf-8"?>
<Media Key="f389ca67-a8ec-4614-b2fb-38c739aafc96" Alias="Bg Top 2" Level="2">
  <Info>
    <Parent Key="7a405db9-3104-4a6e-8b85-7f37c4731d08">background</Parent>
    <Path>/background/BgTop2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-18T21:40:02</CreateDate>
    <NodeName Default="Bg Top 2" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mhfit25m/bg-top-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>