<?xml version="1.0" encoding="utf-8"?>
<Media Key="368dcede-f966-4513-98f8-af49d1f7f953" Alias="G0tbwpzcl4k" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/G0tbwpzcl4k</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-20T12:08:07</CreateDate>
    <NodeName Default="G0tbwpzcl4k" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1dhi0ntg/g0tbwpzcl4k.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>