<?xml version="1.0" encoding="utf-8"?>
<Media Key="4361ac5e-3801-4a16-8e24-c0dc64532789" Alias="Glossary" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Glossary</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-03-08T13:42:00</CreateDate>
    <NodeName Default="Glossary" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties />
</Media>