<?xml version="1.0" encoding="utf-8"?>
<Media Key="895279c0-abdf-4c94-91cb-092fe201ce8b" Alias="Home" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Home</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-02-14T21:30:36</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>