<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9c09ada-820e-48e9-907b-2c0c9ee9eaa5" Alias="Item Adventurer%27S Golden Goblet" Level="4">
  <Info>
    <Parent Key="851adfa0-c3b8-4815-8548-b454470620d9">Adventurer</Parent>
    <Path>/Glossary/Artifacts/Adventurer/ItemAdventurer27SGoldenGoblet</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-08T13:42:23</CreateDate>
    <NodeName Default="Item Adventurer%27S Golden Goblet" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1snmbkio/item_adventurer27s_golden_goblet.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>