<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e05c46b-fc8f-4408-aeee-fda18f104168" Alias="Item Adventurer%27S Bandana" Level="4">
  <Info>
    <Parent Key="851adfa0-c3b8-4815-8548-b454470620d9">Adventurer</Parent>
    <Path>/Glossary/Artifacts/Adventurer/ItemAdventurer27SBandana</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-08T13:42:27</CreateDate>
    <NodeName Default="Item Adventurer%27S Bandana" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nxcalhup/item_adventurer27s_bandana.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>