<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d5b7159-926b-4096-a2cd-0020ed7b5b5c" Alias="Item Adventurer%27S Tail Feather" Level="4">
  <Info>
    <Parent Key="851adfa0-c3b8-4815-8548-b454470620d9">Adventurer</Parent>
    <Path>/Glossary/Artifacts/Adventurer/ItemAdventurer27STailFeather</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-08T13:42:31</CreateDate>
    <NodeName Default="Item Adventurer%27S Tail Feather" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/l3yfwtll/item_adventurer27s_tail_feather.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>