<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8529398-223e-4878-ad45-2464150f3e5c" Alias="Item Adventurer%27S Pocket Watch" Level="4">
  <Info>
    <Parent Key="851adfa0-c3b8-4815-8548-b454470620d9">Adventurer</Parent>
    <Path>/Glossary/Artifacts/Adventurer/ItemAdventurer27SPocketWatch</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-08T13:42:25</CreateDate>
    <NodeName Default="Item Adventurer%27S Pocket Watch" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/t0jffsb4/item_adventurer27s_pocket_watch.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>