<?xml version="1.0" encoding="utf-8"?>
<Media Key="da737bcd-cf24-4440-bc2c-e52296805dcf" Alias="Item Adventurer%27S Flower" Level="4">
  <Info>
    <Parent Key="851adfa0-c3b8-4815-8548-b454470620d9">Adventurer</Parent>
    <Path>/Glossary/Artifacts/Adventurer/ItemAdventurer27SFlower</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-08T13:42:29</CreateDate>
    <NodeName Default="Item Adventurer%27S Flower" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zn3hhwre/item_adventurer27s_flower.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>