<?xml version="1.0" encoding="utf-8"?>
<Media Key="268d2ebb-973d-46a6-a0bc-52a3a7fc00c7" Alias="Photo 2022 06 02 09 18 00" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Photo20220602091800</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-17T19:57:10</CreateDate>
    <NodeName Default="Photo 2022 06 02 09 18 00" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xuxi0jr3/photo_2022-06-02_09-18-00.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>