<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ddfc942-c8c6-424c-a8c1-06e20751483d" Alias="Photo 2022 05 11 19 59 04" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Photo20220511195904</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-17T19:57:10</CreateDate>
    <NodeName Default="Photo 2022 05 11 19 59 04" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iten45og/photo_2022-05-11_19-59-04.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>