<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f3ed650-909d-4184-97c6-655e22eeaa55" Alias="R3ve6egdito" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/R3ve6egdito</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-18T21:41:50</CreateDate>
    <NodeName Default="R3ve6egdito" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k1ld2d23/r3ve6egdito.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>