<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a30c11e-ad4c-4974-aee6-9139aea0ddb9" Alias="Screenshot 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-19T09:48:40</CreateDate>
    <NodeName Default="Screenshot 1" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ddadassm/screenshot_1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>