<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ef3c820-f8f6-4561-a344-e3bbf8c2b3dd" Alias="Su6c0ut78cc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Su6c0ut78cc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-20T12:08:28</CreateDate>
    <NodeName Default="Su6c0ut78cc" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e1ephdxw/su6c0ut78cc.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>