<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa690e4b-45e8-4bf2-a37c-a52f8019abeb" Alias="Weapon Calamity Queller 2Nd" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WeaponCalamityQueller2Nd</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-02T22:24:22</CreateDate>
    <NodeName Default="Weapon Calamity Queller 2Nd" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/juhgt4xi/weapon_calamity_queller_2nd.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>