<?xml version="1.0" encoding="utf-8"?>
<Media Key="1dea1f17-3b1b-4920-b2d9-792736ba5953" Alias="Weapon Engulfing Lightning 2Nd Min" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WeaponEngulfingLightning2NdMin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-02T22:34:40</CreateDate>
    <NodeName Default="Weapon Engulfing Lightning 2Nd Min" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ceppuhi1/weapon_engulfing_lightning_2nd-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>