<div class="umbracare-dmf" ng-if="enableDedicatedMediaFolder">
    <a href="https://umbracare.net/" target="_blank" title="Visit UmbraCare.net"><img src="/App_Plugins/UmbraCare/favicon-16x16.png" alt="UmbraCare" /></a>
    <a href="" ng-show="dedicatedMediaFolder.id != currentFolder.id" ng-click="extendedVm.goToDedicatedMediaFolder(true)" prevent-default>{{dedicatedMediaFolder ? 'Open' : 'Create'}} dedicated media folder&nbsp;&raquo;</a>
    <label ng-show="dedicatedMediaFolder.id == currentFolder.id">Dedicated media folder:</label>
</div>
