.umbracare-dmf {
    margin: 0 0 5px 0 !important;
    line-height: 20px !important;
}

    .umbracare-dmf a {
        display: inline-block !important;
        margin: 0 !important;
        padding: 0 !important;
        border: 0 none !important;
        vertical-align: middle !important;
        color: #1B264F !important;
    }

    .umbracare-dmf img {
        display: inline-block !important;
        margin: 0 !important;
        padding: 0 !important;
        border: 0 none !important;
        vertical-align: middle !important;
        position: relative;
        top: -1px;
    }

    .umbracare-dmf label {
        display: inline-block !important;
        margin: 0 !important;
        padding: 0 !important;
        vertical-align: middle !important;
        font-weight: bold !important;
        color: #1B264F !important;
    }