<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8d79868c-9fcd-4133-bc68-6ca5d7b15253" Alias="artifacts" Level="3">
  <Info>
    <Name>Artifacts</Name>
    <Icon>icon-box-alt color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Glossary</Folder>
    <Compositions>
      <Composition Key="b3c5f1e7-4bbb-4388-a6a2-c81db94a6ddb">headerProperties</Composition>
      <Composition Key="40327795-4b80-4ded-bfb6-e6f2560e94dc">pageProperties</Composition>
    </Compositions>
    <DefaultTemplate>Artifacts</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d7eecfa3-2f6e-4b62-88a6-17f13a4b4e7a">Artifacts</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="81a7491c-363a-43ad-86b9-95f891527318" SortOrder="0">artifactContentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>