<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="81a7491c-363a-43ad-86b9-95f891527318" Alias="artifactContentPage" Level="3">
  <Info>
    <Name>Artifact Content Page</Name>
    <Icon>icon-box-alt color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Glossary</Folder>
    <Compositions>
      <Composition Key="d612674c-f371-4f92-9288-942e63060a2c">contentProperties</Composition>
      <Composition Key="23281659-37e6-48c0-9a0d-96dd41dbcff8">readAlsoProperties</Composition>
      <Composition Key="852d29aa-6a67-47ce-ac33-5160223e30fb">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ArtifactContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="184ffac9-76f5-47cc-bf4f-05e91fcfb5e4">ArtifactContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>190e23db-3a75-42c2-8ede-2034dbc39241</Key>
      <Name>Circlet Description</Name>
      <Alias>circletDescription</Alias>
      <Definition>bb55bfbc-23c4-40e5-8a33-e1e003905e41</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="circlet">Circlet</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ca862936-42e0-4578-b870-e244689fce40</Key>
      <Name>Circlet Image</Name>
      <Alias>circletImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="circlet">Circlet</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>00b9f071-d5b3-408e-8cdc-b6c3b740ba7c</Key>
      <Name>Flower Description</Name>
      <Alias>flowerDescription</Alias>
      <Definition>bb55bfbc-23c4-40e5-8a33-e1e003905e41</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="flower">Flower</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9a65bdce-a45d-4cfb-9467-91620da422c6</Key>
      <Name>Flower Image</Name>
      <Alias>flowerImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="flower">Flower</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>675722af-947a-4030-aee1-e34e8e4879af</Key>
      <Name>Goblet Description</Name>
      <Alias>gobletDescription</Alias>
      <Definition>bb55bfbc-23c4-40e5-8a33-e1e003905e41</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="goblet">Goblet</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5e26116b-b18f-4fe4-9952-2bb4cf656df0</Key>
      <Name>Goblet Image</Name>
      <Alias>gobletImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="goblet">Goblet</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1a503b78-3ff1-4f56-89d3-b6c9f97bf4c6</Key>
      <Name>Plume Description</Name>
      <Alias>plumeDescription</Alias>
      <Definition>bb55bfbc-23c4-40e5-8a33-e1e003905e41</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="plume">Plume</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b2d39dd2-67d7-43da-995c-736d544dc49b</Key>
      <Name>Plume Image</Name>
      <Alias>plumeImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="plume">Plume</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9d4e6134-112b-4aa2-94eb-aba65deb7473</Key>
      <Name>Rarity</Name>
      <Alias>rarity</Alias>
      <Definition>9a8ce04e-2200-4640-93a2-2990f467527e</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="description">Description</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3ea2c1fc-4649-4894-8ab0-4d1f5e7b849d</Key>
      <Name>Sands Description</Name>
      <Alias>sandsDescription</Alias>
      <Definition>bb55bfbc-23c4-40e5-8a33-e1e003905e41</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sands">Sands</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0ba5a1c3-415e-4af0-a0f9-63b0b23c79ef</Key>
      <Name>Sands Image</Name>
      <Alias>sandsImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sands">Sands</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2b983703-705d-4a4b-a88a-6056463abeb0</Key>
      <Name>Set bonus four pieces</Name>
      <Alias>setBonusFourPieces</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bonus that set gives when 4 pieces equiped]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="description">Description</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>64a89748-634a-40ee-9520-416823eb82da</Key>
      <Name>Set bonus two pieces</Name>
      <Alias>setBonusTwoPieces</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bonus that set gives when 2 pieces equiped]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="description">Description</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1a3b7725-c86d-44c5-a504-eec8f8920639</Key>
      <Name>Set name</Name>
      <Alias>setName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Name of the artifact set]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="description">Description</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>76e2fb8f-4f44-4876-9a6a-e59386b54116</Key>
      <Caption>Goblet</Caption>
      <Alias>goblet</Alias>
      <Type>Tab</Type>
      <SortOrder>85</SortOrder>
    </Tab>
    <Tab>
      <Key>b0b2900b-7805-474c-a317-7bf30336ab3f</Key>
      <Caption>Flower</Caption>
      <Alias>flower</Alias>
      <Type>Tab</Type>
      <SortOrder>82</SortOrder>
    </Tab>
    <Tab>
      <Key>cc8e459b-af6f-4a7a-aec0-c319cc3ec1dc</Key>
      <Caption>Description</Caption>
      <Alias>description</Alias>
      <Type>Tab</Type>
      <SortOrder>81</SortOrder>
    </Tab>
    <Tab>
      <Key>d6810b88-745c-4bcf-a808-275dc874cc19</Key>
      <Caption>Plume</Caption>
      <Alias>plume</Alias>
      <Type>Tab</Type>
      <SortOrder>83</SortOrder>
    </Tab>
    <Tab>
      <Key>d963749f-8ff2-4b1f-b48d-14bd7e8b389e</Key>
      <Caption>Circlet</Caption>
      <Alias>circlet</Alias>
      <Type>Tab</Type>
      <SortOrder>86</SortOrder>
    </Tab>
    <Tab>
      <Key>e9422076-6b07-43c7-9498-c4110010e839</Key>
      <Caption>Sands</Caption>
      <Alias>sands</Alias>
      <Type>Tab</Type>
      <SortOrder>84</SortOrder>
    </Tab>
  </Tabs>
</ContentType>