<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="683f989c-7cff-4a30-96eb-cf5666f0f6a2" Alias="articleListPage" Level="3">
  <Info>
    <Name>Article List Page</Name>
    <Icon>icon-thumbnail-list color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A list of articles or blog posts</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Publications</Folder>
    <Compositions>
      <Composition Key="b3c5f1e7-4bbb-4388-a6a2-c81db94a6ddb">headerProperties</Composition>
      <Composition Key="40327795-4b80-4ded-bfb6-e6f2560e94dc">pageProperties</Composition>
      <Composition Key="852d29aa-6a67-47ce-ac33-5160223e30fb">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ArticleListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8f12a9ba-ca69-4711-b341-9b56606bbb1b">ArticleListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="00a73cf2-2595-4b57-a4ba-22642f847115" SortOrder="0">contentPage</ContentType>
    <ContentType Key="b8baedd9-c7d0-4364-b646-79ba5263dfa2" SortOrder="1">newsSection</ContentType>
    <ContentType Key="db58e4f6-87a7-4f8f-be8d-7a6e10f3eaf4" SortOrder="2">guidesSection</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>56f2b129-77ba-4160-a6bd-1a6be0632af5</Key>
      <Name>Sections to show</Name>
      <Alias>sectionsToShow</Alias>
      <Definition>cb53624b-96b7-428c-8721-0044fb470f43</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Which sections need to show on home]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9367bb73-de2c-417c-af25-7ab67d35a10c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>81</SortOrder>
    </Tab>
  </Tabs>
</ContentType>