<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9e6c78d2-14c0-43b0-a99b-aee6f7df1637" Alias="bannersPage" Level="2">
  <Info>
    <Name>Banners Page</Name>
    <Icon>icon-book-alt-2 color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>BannersPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4d2b9214-307a-46f5-9ada-9219bba49e70">BannersPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>12cf0676-f9e8-46ba-9de6-bf74297d0bdb</Key>
      <Name>Banner List</Name>
      <Alias>bannerList</Alias>
      <Definition>ca3570cb-8d72-45e8-9db6-547367d43340</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bannerList">Banner List</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>44000e43-a8a8-4f67-beab-13f9239bf4e7</Key>
      <Caption>Banner List</Caption>
      <Alias>bannerList</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>