<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3943be29-599c-43f7-8be8-210b4f46bc0e" Alias="glossary" Level="3">
  <Info>
    <Name>Glossary</Name>
    <Icon>icon-console color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Glossary</Folder>
    <Compositions>
      <Composition Key="b3c5f1e7-4bbb-4388-a6a2-c81db94a6ddb">headerProperties</Composition>
      <Composition Key="40327795-4b80-4ded-bfb6-e6f2560e94dc">pageProperties</Composition>
      <Composition Key="852d29aa-6a67-47ce-ac33-5160223e30fb">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>Glossary</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fce4e52e-1a4e-49d9-b7f4-f7fe861dc629">Glossary</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="33680812-bd00-49a7-969e-0965fd81b841" SortOrder="0">monsters</ContentType>
    <ContentType Key="bfdc1196-c280-48e3-958d-e0ef728df22d" SortOrder="1">weapons</ContentType>
    <ContentType Key="062831ca-96c0-45d9-b086-4ef9bee34a88" SortOrder="2">resources</ContentType>
    <ContentType Key="8d79868c-9fcd-4133-bc68-6ca5d7b15253" SortOrder="3">artifacts</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>