<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="db58e4f6-87a7-4f8f-be8d-7a6e10f3eaf4" Alias="guidesSection" Level="2">
  <Info>
    <Name>Guides Section</Name>
    <Icon>icon-split-alt color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="40327795-4b80-4ded-bfb6-e6f2560e94dc">pageProperties</Composition>
    </Compositions>
    <DefaultTemplate>GuidesSection</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="91447702-4875-46b4-adf2-3b89c51a9ded">GuidesSection</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="00a73cf2-2595-4b57-a4ba-22642f847115" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>