<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f44fa95a-ff97-4890-aa96-5a71ec91b624" Alias="lORSection" Level="3">
  <Info>
    <Name>LOR Section</Name>
    <Icon>icon-script color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Publications</Folder>
    <Compositions>
      <Composition Key="40327795-4b80-4ded-bfb6-e6f2560e94dc">pageProperties</Composition>
    </Compositions>
    <DefaultTemplate>LORSection</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4ca549e5-67e0-4f5e-b2f2-0e7bcd535a59">LORSection</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="00a73cf2-2595-4b57-a4ba-22642f847115" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>