<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f48a2c97-53b4-4ef3-a993-dfb0e0f21c47" Alias="metaProperties" Level="2">
  <Info>
    <Name>Meta Properties</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7f8acd63-bac6-4323-9b08-2dffee20dcdd</Key>
      <Name>Author</Name>
      <Alias>author</Alias>
      <Definition>ae89c8a3-2d0e-4828-9477-a32f554d7d83</Definition>
      <Type>Umbraco.UserPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Author of the publication]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="meta">Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Please select the author of the publication</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a4fc4724-d6cc-4fcb-9677-d782a3213362</Key>
      <Name>SubTitle</Name>
      <Alias>subTitle</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Short description of a content]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="meta">Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>210f2ae8-05cf-4ecc-9837-7795e2dfc981</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="meta">Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>66c37a0a-40ad-4e13-87ec-a58015323d4e</Key>
      <Caption>Meta</Caption>
      <Alias>meta</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>