<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b8baedd9-c7d0-4364-b646-79ba5263dfa2" Alias="newsSection" Level="3">
  <Info>
    <Name>News Section</Name>
    <Icon>icon-newspaper color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Publications</Folder>
    <Compositions>
      <Composition Key="40327795-4b80-4ded-bfb6-e6f2560e94dc">pageProperties</Composition>
    </Compositions>
    <DefaultTemplate>NewsSection</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a902c8c4-acf8-4f95-883e-6af2da655cf7">NewsSection</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="00a73cf2-2595-4b57-a4ba-22642f847115" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>