<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="23281659-37e6-48c0-9a0d-96dd41dbcff8" Alias="readAlsoProperties" Level="2">
  <Info>
    <Name>Read Also Properties</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2c29b8bb-a466-4f97-a1df-168a542b7b67</Key>
      <Name>List of content</Name>
      <Alias>listOfContent</Alias>
      <Definition>3bbc7642-e6e5-49f5-9a63-5980d7b5aaa7</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[List of articles to show in "read also" part]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="readAlso">Read Also</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>953f0977-9445-4511-92f6-55dc825f3e79</Key>
      <Caption>Read Also</Caption>
      <Alias>readAlso</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>