<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fe40ae28-ef36-42f8-b022-bdf20365ac5e" Alias="tabbedRow" Level="4">
  <Info>
    <Name>Tabbed Row</Name>
    <Icon>icon-categories color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="f93cff2b-7610-4e58-9eb2-c05451bbb4d2">descriptionProperty</Composition>
      <Composition Key="2f0e7e5a-8ae5-416e-9c4c-7f565b5452de">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f479f877-3b58-4a3f-a2cb-54e3f41b25b1</Key>
      <Name>Tabbed Items</Name>
      <Alias>tabbedItems</Alias>
      <Definition>3d26c717-7b73-40c4-9b8e-8047e3da9ace</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Items to render]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>899ff459-dbbf-4c09-b00d-adc29637a971</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>