<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bfdc1196-c280-48e3-958d-e0ef728df22d" Alias="weapons" Level="3">
  <Info>
    <Name>Weapons</Name>
    <Icon>icon-hammer color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Glossary</Folder>
    <Compositions>
      <Composition Key="b3c5f1e7-4bbb-4388-a6a2-c81db94a6ddb">headerProperties</Composition>
      <Composition Key="40327795-4b80-4ded-bfb6-e6f2560e94dc">pageProperties</Composition>
    </Compositions>
    <DefaultTemplate>Weapons</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bbd4414b-767d-4ec1-ace4-f2792a97102f">Weapons</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>