<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7ed76755-e521-43b1-a012-e7ff0553515e" Alias="Artifact Content Page - Region - Dropdown" Level="1">
  <Info>
    <Name>Artifact Content Page - Region - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Сумеру"
    },
    {
      "id": 2,
      "value": "Інадзума"
    },
    {
      "id": 3,
      "value": "Мондштадт"
    },
    {
      "id": 4,
      "value": "Ліюе"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>