<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a8ce04e-2200-4640-93a2-2990f467527e" Alias="Artifact Content Page - Rarity - Checkbox list" Level="1">
  <Info>
    <Name>Artifact Content Page - Rarity - Checkbox list</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "3"
    },
    {
      "id": 2,
      "value": "4"
    },
    {
      "id": 3,
      "value": "5"
    }
  ]
}]]></Config>
</DataType>