<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca3570cb-8d72-45e8-9db6-547367d43340" Alias="[BlockList] InGame Banner Row List" Level="1">
  <Info>
    <Name>[BlockList] InGame Banner Row List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "32c4dd06-91f6-498a-980e-a14a7a1f2008",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Single Banner Representation",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": 1
  }
}]]></Config>
</DataType>