<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3d26c717-7b73-40c4-9b8e-8047e3da9ace" Alias="[BlockList] Tabbed List" Level="1">
  <Info>
    <Name>[BlockList] Tabbed List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6a8cb62c-4f50-4b97-84ea-949c1b111d09",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Tab Item ' + $index}} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "b5fdb9e2-5ddb-48c1-819f-71bf2554b209",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>