<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b38027cd-24b6-42a0-9efc-efbd37d8760d" Alias="Embed Type Radio" Level="1">
  <Info>
    <Name>Embed Type Radio</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "YouTube"
    },
    {
      "id": 2,
      "value": "Twitter"
    }
  ]
}]]></Config>
</DataType>