<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb53624b-96b7-428c-8721-0044fb470f43" Alias="Glossary List Page - Sections to show - Multinode Treepicker" Level="1">
  <Info>
    <Name>Glossary List Page - Sections to show - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>