<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cbda6064-ca59-431b-a4f8-e6ddc58c1884" Alias="Home Page - Featured list - Multinode Treepicker" Level="1">
  <Info>
    <Name>Home Page - Featured list - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "contentPage",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/c606cba8dfeb4db599bee297710fe601",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>