<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6e09cbe1-dfba-49f6-bb7d-108505df2acb" Alias="Icon Media Picker" Level="1">
  <Info>
    <Name>Icon Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": 0
  }
}]]></Config>
</DataType>