<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e91934c0-87d0-46ee-9093-aa1b1347bc44" Alias="InGame Character Item - Character Name - Textbox" Level="1">
  <Info>
    <Name>InGame Character Item - Character Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>