<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ae89c8a3-2d0e-4828-9477-a32f554d7d83" Alias="Meta Properties - Author - User Picker" Level="1">
  <Info>
    <Name>Meta Properties - Author - User Picker</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>