<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fab526bb-ab2c-4a90-943e-921a25da1923" Alias="[Paragraph Summary] Style Dropdown" Level="1">
  <Info>
    <Name>[Paragraph Summary] Style Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Style 1"
    },
    {
      "id": 2,
      "value": "Style 2"
    },
    {
      "id": 3,
      "value": "Style 3"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>