<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3bbc7642-e6e5-49f5-9a63-5980d7b5aaa7" Alias="Read Also Properties - List of content - Multinode Treepicker" Level="1">
  <Info>
    <Name>Read Also Properties - List of content - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "contentPage",
  "IgnoreUserStartNodes": true,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/c606cba8dfeb4db599bee297710fe601",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>