<?xml version="1.0" encoding="utf-8"?>
<Content Key="870b3c78-af3f-4206-917b-e982a298165c" Alias="1. First blog item" Level="3">
  <Info>
    <Parent Key="c606cba8-dfeb-4db5-99be-e297710fe601">Articles</Parent>
    <Path>/Home/Articles/FirstBlogItem</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-02-13T16:35:40</CreateDate>
    <NodeName Default="1. First blog item" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a58e114b-c89d-48f9-a82d-1c4ab7c01ce2">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <isFeatured>
      <Value><![CDATA[0]]></Value>
    </isFeatured>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f9f6e98268084afe87a98f083e47db70",
        "settingsUdi": "umb://element/c332f099d0714e56a8606482919319ce"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "953a0ae9-d75f-41dc-bec9-9c614e38ec1b",
      "udi": "umb://element/f9f6e98268084afe87a98f083e47db70",
      "quoteText": "<p>Hello there</p>",
      "quoteAuthor": "Forevka",
      "authorJobTitle": "dev",
      "citeLink": null
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "f31c9dde-5a89-4774-8b8f-8c10c3f916f2",
      "udi": "umb://element/c332f099d0714e56a8606482919319ce"
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "9aa39f60-cf36-4c16-ab3d-6847eb7e0cc0",
    "mediaKey": "76a6bc76-c16c-49c7-b6fd-64925880014b"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[First blog item]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>