<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8521e07-3d72-40e6-a0fe-3b6c6721b79e" Alias="2. Second" Level="3">
  <Info>
    <Parent Key="c606cba8-dfeb-4db5-99be-e297710fe601">Articles</Parent>
    <Path>/Home/Articles/Second</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-02-13T17:32:41</CreateDate>
    <NodeName Default="2. Second" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a58e114b-c89d-48f9-a82d-1c4ab7c01ce2">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <isFeatured>
      <Value><![CDATA[0]]></Value>
    </isFeatured>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "b6305cb1-2aa5-47ea-aec1-5b2f948a5b5c",
    "mediaKey": "52294a77-e90b-4f43-81f3-39032facf46c"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Title Second]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>