<?xml version="1.0" encoding="utf-8"?>
<Content Key="7461ca6e-ad26-4976-8107-9bfae789b0d3" Alias="3. Third news" Level="3">
  <Info>
    <Parent Key="c606cba8-dfeb-4db5-99be-e297710fe601">Articles</Parent>
    <Path>/Home/Articles/ThirdNews</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-02-14T21:18:16</CreateDate>
    <NodeName Default="3. Third news" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a58e114b-c89d-48f9-a82d-1c4ab7c01ce2">ContentPage</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[-1]]></Value>
    </author>
    <isFeatured>
      <Value><![CDATA[0]]></Value>
    </isFeatured>
    <listOfContent>
      <Value><![CDATA[]]></Value>
    </listOfContent>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "e7c23b24-fa41-449a-93c5-95712714fb07",
    "mediaKey": "216804bd-4287-4656-a771-ed58e84e2902"
  }
]]]></Value>
    </mainImage>
    <subTitle>
      <Value><![CDATA[Donec malesuada turpis interdum eros tincidunt convallis. Duis felis augue, dictum sit amet tempus quis, vehicula nec nisi. Donec lorem dui, maximus ut sagittis a, pulvinar nec nisl. Praesent ac arcu leo.]]></Value>
    </subTitle>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[The third item title]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>