<?xml version="1.0" encoding="utf-8"?>
<Content Key="7461ca6e-ad26-4976-8107-9bfae789b0d3" Alias="3. Third news" Level="3">
  <Info>
    <Parent Key="c606cba8-dfeb-4db5-99be-e297710fe601">Articles</Parent>
    <Path>/Home/Articles/ThirdNews</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-02-14T21:18:16</CreateDate>
    <NodeName Default="3. Third news" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a58e114b-c89d-48f9-a82d-1c4ab7c01ce2">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <isFeatured>
      <Value><![CDATA[1]]></Value>
    </isFeatured>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "fa1dd23f-e4cb-4aaa-9249-875d4c630e75",
    "mediaKey": "b3e95d36-540b-4afa-ae19-297e38a981ea"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[Third news]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Third Title]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>