<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff2692ff-82d7-48e9-8113-985b7b2e6929" Alias="7 пост" Level="4">
  <Info>
    <Parent Key="053cc8ce-8323-437c-ba0b-9d18f591e2bf">News</Parent>
    <Path>/Home/Articles/News/post</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-02-20T12:08:30</CreateDate>
    <NodeName Default="7 пост" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a58e114b-c89d-48f9-a82d-1c4ab7c01ce2">ContentPage</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[-1]]></Value>
    </author>
    <isFeatured>
      <Value><![CDATA[0]]></Value>
    </isFeatured>
    <listOfContent>
      <Value><![CDATA[]]></Value>
    </listOfContent>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "c6ffb660-f1b3-4d4a-a046-874bcc04db39",
    "mediaKey": "8ef3c820-f8f6-4561-a344-e3bbf8c2b3dd",
    "crops": [
      {
        "alias": "preview",
        "label": "preview",
        "coordinates": {
          "x1": 0,
          "y1": 0.25764373088684994,
          "x2": 0,
          "y2": 0.1423562691131501
        }
      }
    ]
  }
]]]></Value>
    </mainImage>
    <subTitle>
      <Value><![CDATA[short description of the post]]></Value>
    </subTitle>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[7 пост]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>