<?xml version="1.0" encoding="utf-8"?>
<Content Key="8edd7b7a-01fe-49f2-ba53-6b891e743267" Alias="Adventurer" Level="4">
  <Info>
    <Parent Key="d8905923-afc8-45e2-9328-74e8fb80a80e">Artifacts</Parent>
    <Path>/Home/Glossary/Artifacts/Adventurer</Path>
    <Trashed>false</Trashed>
    <ContentType>artifactContentPage</ContentType>
    <CreateDate>2023-03-08T13:42:52</CreateDate>
    <NodeName Default="Adventurer" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="184ffac9-76f5-47cc-bf4f-05e91fcfb5e4">ArtifactContentPage</Template>
  </Info>
  <Properties>
    <circletDescription>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/87a0d8be811d4d36a7a005855ca9b1c5",
        "settingsUdi": "umb://element/41073b4e708e43f38577dceeb83b9eb8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ac2e4966-85c9-4137-ae63-e07f820f88b1",
      "udi": "umb://element/87a0d8be811d4d36a7a005855ca9b1c5",
      "content": "<p style=\"text-align: justify;\">Хоча це лише звичайна зелена повʼязка на голову, тканина її міцна і добре вбирає вологу. І нехай її власником був лише простий смертний із плоті й крові, але, як далекі зірки над бездонним небом і безпросвітна Безодня глибоко під землею мають свої секрети, так і ця всього лише людина не без таємниці: просто зачекайте, поки вона вийде на полювання.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c5d15e9e-8637-47be-bf5f-bcbdde739953",
      "udi": "umb://element/41073b4e708e43f38577dceeb83b9eb8"
    }
  ]
}]]></Value>
    </circletDescription>
    <circletImage>
      <Value><![CDATA[[
  {
    "key": "bf4bb17d-25ce-4b1e-9de2-6f66d43552da",
    "mediaKey": "9e05c46b-fc8f-4408-aeee-fda18f104168"
  }
]]]></Value>
    </circletImage>
    <flowerDescription>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a11cfb88b44747fc8ddeff4f022d9ede",
        "settingsUdi": "umb://element/fe2f856c89cc4e45a752439704389ca5"
      },
      {
        "contentUdi": "umb://element/053304eb8f54406db8219f36fe7f9687",
        "settingsUdi": "umb://element/a4f8f49dc3b34ffcb7deb2ac950f6064"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ac2e4966-85c9-4137-ae63-e07f820f88b1",
      "udi": "umb://element/a11cfb88b44747fc8ddeff4f022d9ede",
      "content": "<p style=\"text-align: justify;\">Якось шукач пригод йшов лісом у пошуках небаченого птаха. Безтурботно дивлячись угору, він крокував серед дерев, як раптом запнувся об коріння. Коли він прийшов до тями, то побачив перед собою дівчину, прекрасну настільки, що він готовий був кинути своє життя шукача пригод, аби бути з нею. У волосся її було вплетено фантастичної краси пірʼя, та й сама вона ніби вийшла зі сну.</p>"
    },
    {
      "contentTypeKey": "ac2e4966-85c9-4137-ae63-e07f820f88b1",
      "udi": "umb://element/053304eb8f54406db8219f36fe7f9687",
      "content": "<p style=\"text-align: justify;\">Самовпевнений шукач пригод натрапив на цю квітку в глибинах похмурих руїн. Зворушений життям, що проростає всупереч безживній землі, він майже забув про заховані скарби, за якими прийшов. Але добре все обдумавши, шукач пригод зірвав квітку, одягнув її як брошку і вирушив у темряву</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c5d15e9e-8637-47be-bf5f-bcbdde739953",
      "udi": "umb://element/fe2f856c89cc4e45a752439704389ca5"
    },
    {
      "contentTypeKey": "c5d15e9e-8637-47be-bf5f-bcbdde739953",
      "udi": "umb://element/a4f8f49dc3b34ffcb7deb2ac950f6064"
    }
  ]
}]]></Value>
    </flowerDescription>
    <flowerImage>
      <Value><![CDATA[[
  {
    "key": "bebdc1e3-7693-4931-881e-53a9bb0250f8",
    "mediaKey": "da737bcd-cf24-4440-bc2c-e52296805dcf"
  }
]]]></Value>
    </flowerImage>
    <gobletDescription>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fb0244d054bd428fa4384e9bbf385922",
        "settingsUdi": "umb://element/1937dd40980e4c3fa3b4ae1c319f83e6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ac2e4966-85c9-4137-ae63-e07f820f88b1",
      "udi": "umb://element/fb0244d054bd428fa4384e9bbf385922",
      "content": "<p style=\"text-align: justify;\">Стара золота чаша, з якої пив воду шукач пригод. Ходять чутки, що її знайшли десь у стародавніх руїнах. На золотій поверхні келиха вигравіювано незрозумілі стародавні візерунки. Сама вона інкрустована невиразним каменем. Коли шукач пригод розпрощався зі своїм колишнім життям авантюриста, цей старий келих він обміняв на нову, сяйливу мору.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c5d15e9e-8637-47be-bf5f-bcbdde739953",
      "udi": "umb://element/1937dd40980e4c3fa3b4ae1c319f83e6"
    }
  ]
}]]></Value>
    </gobletDescription>
    <gobletImage>
      <Value><![CDATA[[
  {
    "key": "eb80de36-da60-4eb3-b319-3bb6ad9de7e6",
    "mediaKey": "a9c09ada-820e-48e9-907b-2c0c9ee9eaa5"
  }
]]]></Value>
    </gobletImage>
    <listOfContent>
      <Value><![CDATA[]]></Value>
    </listOfContent>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "d3a50122-c59d-40fc-a75b-c531c1b737b5",
    "mediaKey": "da737bcd-cf24-4440-bc2c-e52296805dcf"
  }
]]]></Value>
    </mainImage>
    <plumeDescription>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e5251c12062543edb821ae7a62cbf0d7",
        "settingsUdi": "umb://element/9639a17677884690a8853df61f0f7bfa"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ac2e4966-85c9-4137-ae63-e07f820f88b1",
      "udi": "umb://element/e5251c12062543edb821ae7a62cbf0d7",
      "content": "<p style=\"text-align: justify;\">Якось шукач пригод йшов лісом у пошуках небаченого птаха. Безтурботно дивлячись угору, він крокував серед дерев, як раптом запнувся об коріння. Коли він прийшов до тями, то побачив перед собою дівчину, прекрасну настільки, що він готовий був кинути своє життя шукача пригод, аби бути з нею. У волосся її було вплетено фантастичної краси пірʼя, та й сама вона ніби вийшла зі сну.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c5d15e9e-8637-47be-bf5f-bcbdde739953",
      "udi": "umb://element/9639a17677884690a8853df61f0f7bfa"
    }
  ]
}]]></Value>
    </plumeDescription>
    <plumeImage>
      <Value><![CDATA[[
  {
    "key": "b3dcd173-e6d6-48c1-8b2a-d92db5e33099",
    "mediaKey": "4d5b7159-926b-4096-a2cd-0020ed7b5b5c"
  }
]]]></Value>
    </plumeImage>
    <rarity>
      <Value><![CDATA[[
  "1",
  "3",
  "2"
]]]></Value>
    </rarity>
    <region>
      <Value><![CDATA[[
  "Мондштадт"
]]]></Value>
    </region>
    <sandsDescription>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f18a4512bd114d5a95ea1a005f914436",
        "settingsUdi": "umb://element/bb0bb587e5c04893abbbdfa20149cba5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ac2e4966-85c9-4137-ae63-e07f820f88b1",
      "udi": "umb://element/f18a4512bd114d5a95ea1a005f914436",
      "content": "<p style=\"text-align: justify;\">Кишеньковий годинник шукача пригод. Зроблені старим годинником, він повністю відповідає принципам простоти та практичності, прийнятим у гільдії шукачів пригод. Коли шукач пригод, що вже давно не бачив білого світла, пробирається темними коридорами підземель, цокання цього годинника є для нього єдиним доказом того, що термін «час» ще існує. А коли шукач пригод змушений піти від улюбленої справи і після стількох років повернутися до звичайного життя, цей вже нікому не потрібний годинник продовжує цокати вже у вітрині, покірно чекаючи наступної пригоди</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c5d15e9e-8637-47be-bf5f-bcbdde739953",
      "udi": "umb://element/bb0bb587e5c04893abbbdfa20149cba5"
    }
  ]
}]]></Value>
    </sandsDescription>
    <sandsImage>
      <Value><![CDATA[[
  {
    "key": "72ad87a1-0b2a-4529-8c88-17f6ddee8cd6",
    "mediaKey": "c8529398-223e-4878-ad45-2464150f3e5c"
  }
]]]></Value>
    </sandsImage>
    <setBonusFourPieces>
      <Value><![CDATA[<p>Відкриття скрині відновлює 30% від максимального здоров'я протягом 5 секунд.</p>]]></Value>
    </setBonusFourPieces>
    <setBonusTwoPieces>
      <Value><![CDATA[<p>Максимальний показник здоров'я збільшується на 1000</p>]]></Value>
    </setBonusTwoPieces>
    <setName>
      <Value><![CDATA[Шукач пригод]]></Value>
    </setName>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>