<?xml version="1.0" encoding="utf-8"?>
<Content Key="d8905923-afc8-45e2-9328-74e8fb80a80e" Alias="Artifacts" Level="3">
  <Info>
    <Parent Key="30fe8c69-baef-4da4-ab76-99b207cb465b">Glossary</Parent>
    <Path>/Home/Glossary/Artifacts</Path>
    <Trashed>false</Trashed>
    <ContentType>artifacts</ContentType>
    <CreateDate>2023-03-06T00:12:49</CreateDate>
    <NodeName Default="Artifacts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d7eecfa3-2f6e-4b62-88a6-17f13a4b4e7a">Artifacts</Template>
  </Info>
  <Properties>
    <bottomImage>
      <Value><![CDATA[[]]]></Value>
    </bottomImage>
    <pageName>
      <Value><![CDATA[Артефакти]]></Value>
    </pageName>
    <siteTitle>
      <Value><![CDATA[]]></Value>
    </siteTitle>
    <topImage>
      <Value><![CDATA[[]]]></Value>
    </topImage>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>