<?xml version="1.0" encoding="utf-8"?>
<Content Key="c606cba8-dfeb-4db5-99be-e297710fe601" Alias="Articles" Level="2">
  <Info>
    <Parent Key="f8ae041e-094a-4aa0-9903-971245cab3ae">Home</Parent>
    <Path>/Home/Articles</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2022-08-16T23:43:18</CreateDate>
    <NodeName Default="Articles" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8f12a9ba-ca69-4711-b341-9b56606bbb1b">ArticleListPage</Template>
  </Info>
  <Properties>
    <bottomImage>
      <Value><![CDATA[[
  {
    "key": "a28b2dfe-d92d-4423-9325-7a6b57808069",
    "mediaKey": "d2e396c3-fff8-40a6-8eb1-22c3b53eb90f"
  }
]]]></Value>
    </bottomImage>
    <pageName>
      <Value><![CDATA[Публікації]]></Value>
    </pageName>
    <sectionsToShow>
      <Value><![CDATA[umb://document/053cc8ce8323437cba0b9d18f591e2bf,umb://document/d20a5edb19004346b8c66da9f39ccda8]]></Value>
    </sectionsToShow>
    <siteTitle>
      <Value><![CDATA[Articles]]></Value>
    </siteTitle>
    <topImage>
      <Value><![CDATA[[
  {
    "key": "7a93a7c3-0dba-420e-bf6b-1ce778808681",
    "mediaKey": "06b05dd8-0359-4c6b-9aea-bca55cb86191"
  }
]]]></Value>
    </topImage>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>