<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e389936-b142-4867-b332-a405fac18f6d" Alias="Contact" Level="2">
  <Info>
    <Parent Key="f8ae041e-094a-4aa0-9903-971245cab3ae">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2022-08-16T23:43:27</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d267e100-de8a-4909-bd39-00dc95669a99">ContactPage</Template>
  </Info>
  <Properties>
    <bottomImage>
      <Value><![CDATA[[]]]></Value>
    </bottomImage>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/dfee723a8a004e87beed61773aaf9688",
        "settingsUdi": "umb://element/c7988638c324444b8e65d2a4b95e9549"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "953a0ae9-d75f-41dc-bec9-9c614e38ec1b",
      "udi": "umb://element/dfee723a8a004e87beed61773aaf9688",
      "quoteText": "<p>Hello im forevka</p>",
      "quoteAuthor": "Forevka",
      "authorJobTitle": "Dev",
      "citeLink": null
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "f31c9dde-5a89-4774-8b8f-8c10c3f916f2",
      "udi": "umb://element/c7988638c324444b8e65d2a4b95e9549"
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "81659d48-ec32-4eba-ad62-7e0632651922",
    "mediaKey": "4a30c11e-ad4c-4974-aee6-9139aea0ddb9"
  }
]]]></Value>
    </mainImage>
    <siteTitle>
      <Value><![CDATA[]]></Value>
    </siteTitle>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <topImage>
      <Value><![CDATA[[]]]></Value>
    </topImage>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>