<?xml version="1.0" encoding="utf-8"?>
<Content Key="f92a6e4e-d94c-40d7-905e-dee6beeee868" Alias="first lor item" Level="4">
  <Info>
    <Parent Key="73174617-6d11-4425-898d-b952152aafff">LOR</Parent>
    <Path>/Home/Articles/LOR/firstLorItem</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-03-06T22:39:29</CreateDate>
    <NodeName Default="first lor item" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a58e114b-c89d-48f9-a82d-1c4ab7c01ce2">ContentPage</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[-1]]></Value>
    </author>
    <isFeatured>
      <Value><![CDATA[0]]></Value>
    </isFeatured>
    <listOfContent>
      <Value><![CDATA[]]></Value>
    </listOfContent>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "4a118646-fe22-4ef4-9f3c-87a0bbdab998",
    "mediaKey": "5c4f75fa-0d5f-400a-8a20-1dabb1e72ddf"
  }
]]]></Value>
    </mainImage>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Перший лорний твір]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>