<?xml version="1.0" encoding="utf-8"?>
<Content Key="30fe8c69-baef-4da4-ab76-99b207cb465b" Alias="Glossary" Level="2">
  <Info>
    <Parent Key="f8ae041e-094a-4aa0-9903-971245cab3ae">Home</Parent>
    <Path>/Home/Glossary</Path>
    <Trashed>false</Trashed>
    <ContentType>glossary</ContentType>
    <CreateDate>2023-03-06T00:11:01</CreateDate>
    <NodeName Default="Glossary" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fce4e52e-1a4e-49d9-b7f4-f7fe861dc629">Glossary</Template>
  </Info>
  <Properties>
    <bottomImage>
      <Value><![CDATA[[]]]></Value>
    </bottomImage>
    <pageName>
      <Value><![CDATA[Глосарій]]></Value>
    </pageName>
    <siteTitle>
      <Value><![CDATA[Глосарій]]></Value>
    </siteTitle>
    <topImage>
      <Value><![CDATA[[]]]></Value>
    </topImage>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>