<?xml version="1.0" encoding="utf-8"?>
<Content Key="d20a5edb-1900-4346-b8c6-6da9f39ccda8" Alias="Guides" Level="3">
  <Info>
    <Parent Key="c606cba8-dfeb-4db5-99be-e297710fe601">Articles</Parent>
    <Path>/Home/Articles/Guides</Path>
    <Trashed>false</Trashed>
    <ContentType>guidesSection</ContentType>
    <CreateDate>2023-02-28T12:06:15</CreateDate>
    <NodeName Default="Guides" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="91447702-4875-46b4-adf2-3b89c51a9ded">GuidesSection</Template>
  </Info>
  <Properties>
    <pageName>
      <Value><![CDATA[Гайди]]></Value>
    </pageName>
  </Properties>
</Content>