<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8ae041e-094a-4aa0-9903-971245cab3ae" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-08-05T13:08:32</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0104844d-25b7-4fcd-bee6-5b8b8daa8600">HomePage</Template>
  </Info>
  <Properties>
    <bottomImage>
      <Value><![CDATA[[
  {
    "key": "87350886-a666-4cbe-bd6d-3e22323f5af9",
    "mediaKey": "d2e396c3-fff8-40a6-8eb1-22c3b53eb90f"
  }
]]]></Value>
    </bottomImage>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/prjseal"
  },
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/CodeSharePaul"
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://www.youtube.com/channel/PaulSealUK"
  }
]]]></Value>
    </footerSocialLinks>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "b84936f8-8ca4-44b8-84a8-17fc1e910a01",
    "name": "Головна",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Головна",
    "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/f8ae041e094a4aa09903971245cab3ae\"}]",
    "childLinks": null
  },
  {
    "key": "060bd600-5479-42a3-8eb2-d73cc14391bc",
    "name": "Публікації",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Публікації",
    "link": "[{\"name\":\"Articles\",\"udi\":\"umb://document/c606cba8dfeb4db599bee297710fe601\"}]",
    "childLinks": "[{\"name\":\"Новини\",\"udi\":\"umb://document/053cc8ce8323437cba0b9d18f591e2bf\"},{\"name\":\"Гайди\",\"udi\":\"umb://document/d20a5edb19004346b8c66da9f39ccda8\"}]"
  },
  {
    "key": "63a60eb6-f746-412f-989e-e96fc33c6b8f",
    "name": "Про нас",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Про нас",
    "link": "[{\"name\":\"Not found\",\"udi\":\"umb://document/4401ac6c3ab744c7a4694f9be2d91705\"}]",
    "childLinks": null
  }
]]]></Value>
    </mainNavigation>
    <pageName>
      <Value><![CDATA[Головна]]></Value>
    </pageName>
    <siteTitle>
      <Value><![CDATA[Genshin Impact]]></Value>
    </siteTitle>
    <topImage>
      <Value><![CDATA[[
  {
    "key": "729a5522-e247-4479-b1b3-b1d2544d8747",
    "mediaKey": "f389ca67-a8ec-4614-b2fb-38c739aafc96"
  }
]]]></Value>
    </topImage>
  </Properties>
</Content>