<?xml version="1.0" encoding="utf-8"?>
<Content Key="73174617-6d11-4425-898d-b952152aafff" Alias="LOR" Level="3">
  <Info>
    <Parent Key="c606cba8-dfeb-4db5-99be-e297710fe601">Articles</Parent>
    <Path>/Home/Articles/LOR</Path>
    <Trashed>false</Trashed>
    <ContentType>lORSection</ContentType>
    <CreateDate>2023-03-06T22:38:52</CreateDate>
    <NodeName Default="LOR" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4ca549e5-67e0-4f5e-b2f2-0e7bcd535a59">LORSection</Template>
  </Info>
  <Properties>
    <pageName>
      <Value><![CDATA[Канон]]></Value>
    </pageName>
  </Properties>
</Content>