<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b0e6b35-9f15-4d15-b9f3-743e9907dfbc" Alias="Monsters" Level="3">
  <Info>
    <Parent Key="30fe8c69-baef-4da4-ab76-99b207cb465b">Glossary</Parent>
    <Path>/Home/Glossary/Monsters</Path>
    <Trashed>false</Trashed>
    <ContentType>monsters</ContentType>
    <CreateDate>2023-03-06T00:11:59</CreateDate>
    <NodeName Default="Monsters" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="24f3dabc-517f-4c2b-875b-8ccc6024854a">Monsters</Template>
  </Info>
  <Properties>
    <bottomImage>
      <Value><![CDATA[[]]]></Value>
    </bottomImage>
    <pageName>
      <Value><![CDATA[Противники]]></Value>
    </pageName>
    <siteTitle>
      <Value><![CDATA[]]></Value>
    </siteTitle>
    <topImage>
      <Value><![CDATA[[]]]></Value>
    </topImage>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>