<?xml version="1.0" encoding="utf-8"?>
<Content Key="4401ac6c-3ab7-44c7-a469-4f9be2d91705" Alias="Not found" Level="2">
  <Info>
    <Parent Key="f8ae041e-094a-4aa0-9903-971245cab3ae">Home</Parent>
    <Path>/Home/NotFound</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNotFound</ContentType>
    <CreateDate>2023-02-21T00:36:18</CreateDate>
    <NodeName Default="Not found" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3fdbcf56-2718-4023-b4e1-9199aa2e0958">404PageNotFound</Template>
  </Info>
  <Properties>
    <background>
      <Value><![CDATA[[
  {
    "key": "2538434b-102f-458d-943e-cab0a6c0112e",
    "mediaKey": "73595308-3339-4813-98a0-b4ec806d94b0"
  }
]]]></Value>
    </background>
    <bottomImage>
      <Value><![CDATA[[]]]></Value>
    </bottomImage>
    <footerSocialLinks>
      <Value><![CDATA[]]></Value>
    </footerSocialLinks>
    <siteTitle>
      <Value><![CDATA[Not Found]]></Value>
    </siteTitle>
    <topImage>
      <Value><![CDATA[[]]]></Value>
    </topImage>
  </Properties>
</Content>