<?xml version="1.0" encoding="utf-8"?>
<Content Key="41ccfa6a-f00f-412b-9d4d-c4182e9d1ac4" Alias="Resources" Level="3">
  <Info>
    <Parent Key="30fe8c69-baef-4da4-ab76-99b207cb465b">Glossary</Parent>
    <Path>/Home/Glossary/Resources</Path>
    <Trashed>false</Trashed>
    <ContentType>resources</ContentType>
    <CreateDate>2023-03-06T00:12:32</CreateDate>
    <NodeName Default="Resources" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2b74a7fd-7f00-4ef7-9c47-78ffc0c2f1b1">Resources</Template>
  </Info>
  <Properties>
    <bottomImage>
      <Value><![CDATA[[]]]></Value>
    </bottomImage>
    <pageName>
      <Value><![CDATA[Ресурси]]></Value>
    </pageName>
    <siteTitle>
      <Value><![CDATA[]]></Value>
    </siteTitle>
    <topImage>
      <Value><![CDATA[[]]]></Value>
    </topImage>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>