<?xml version="1.0" encoding="utf-8"?>
<Content Key="848804ff-3a02-4973-94e3-c7bfc6070ca7" Alias="testing" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/testing</Path>
    <Trashed Parent="f8ae041e-094a-4aa0-9903-971245cab3ae">true</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-02-13T16:30:22</CreateDate>
    <NodeName Default="testing" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="a58e114b-c89d-48f9-a82d-1c4ab7c01ce2">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>