<?xml version="1.0" encoding="utf-8"?>
<Content Key="9194a37d-8424-4bfe-b1d1-1f265e863d1d" Alias="The meteor" Level="3">
  <Info>
    <Parent Key="c606cba8-dfeb-4db5-99be-e297710fe601">Articles</Parent>
    <Path>/Home/Articles/TheMeteor</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-02-15T12:05:38</CreateDate>
    <NodeName Default="The meteor" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a58e114b-c89d-48f9-a82d-1c4ab7c01ce2">ContentPage</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[-1]]></Value>
    </author>
    <isFeatured>
      <Value><![CDATA[1]]></Value>
    </isFeatured>
    <listOfContent>
      <Value><![CDATA[]]></Value>
    </listOfContent>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "199ca48b-b1b9-430f-930c-2992dcd8f43b",
    "mediaKey": "5566c786-bbef-416b-ac32-6a1882d9a2bf",
    "crops": [
      {
        "alias": "thumb",
        "label": "thumb",
        "coordinates": {
          "x1": 0.11096030274171723,
          "y1": 0,
          "x2": 0.3270396972582828,
          "y2": 0
        }
      },
      {
        "alias": "preview",
        "label": "preview",
        "coordinates": {
          "x1": 0.06228695415719649,
          "y1": 0.06478781019716343,
          "x2": 0.23987633963205676,
          "y2": 0.19019079527179036
        }
      },
      {
        "alias": "quadratic",
        "label": "quadratic",
        "coordinates": {
          "x1": 0.14480391779680038,
          "y1": 0,
          "x2": 0.29319608220319954,
          "y2": 0
        }
      }
    ]
  }
]]]></Value>
    </mainImage>
    <subTitle>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra nisl ut dolor euismod, vel convallis mi ornare. Nunc rhoncus sed erat et bibendum. Quisque accumsan nibh hendrerit lorem semper facilisis.]]></Value>
    </subTitle>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[The meteor Title]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>