<?xml version="1.0" encoding="utf-8"?>
<Content Key="9194a37d-8424-4bfe-b1d1-1f265e863d1d" Alias="The meteor" Level="3">
  <Info>
    <Parent Key="c606cba8-dfeb-4db5-99be-e297710fe601">Articles</Parent>
    <Path>/Home/Articles/TheMeteor</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-02-15T12:05:38</CreateDate>
    <NodeName Default="The meteor" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a58e114b-c89d-48f9-a82d-1c4ab7c01ce2">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <isFeatured>
      <Value><![CDATA[1]]></Value>
    </isFeatured>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "fd8427d0-4f2f-448e-8533-1f46773789f0",
    "mediaKey": "9d0bed61-d46e-4929-81cb-a26f44ccaf69",
    "crops": [
      {
        "alias": "thumb",
        "label": "thumb",
        "coordinates": {
          "x1": 0,
          "y1": 0,
          "x2": 0,
          "y2": 0
        }
      }
    ],
    "focalPoint": {
      "left": 0.494,
      "top": 0.262
    }
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non ante ac sapien finibus ullamcorper.]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[The meteor]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>