<?xml version="1.0" encoding="utf-8"?>
<Content Key="ffa44c31-85d9-4677-b4c1-9705bcb1d884" Alias="Weapons" Level="3">
  <Info>
    <Parent Key="30fe8c69-baef-4da4-ab76-99b207cb465b">Glossary</Parent>
    <Path>/Home/Glossary/Weapons</Path>
    <Trashed>false</Trashed>
    <ContentType>weapons</ContentType>
    <CreateDate>2023-03-06T00:12:17</CreateDate>
    <NodeName Default="Weapons" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bbd4414b-767d-4ec1-ace4-f2792a97102f">Weapons</Template>
  </Info>
  <Properties>
    <bottomImage>
      <Value><![CDATA[[]]]></Value>
    </bottomImage>
    <pageName>
      <Value><![CDATA[Зброя]]></Value>
    </pageName>
    <siteTitle>
      <Value><![CDATA[]]></Value>
    </siteTitle>
    <topImage>
      <Value><![CDATA[[]]]></Value>
    </topImage>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>