@inherits UmbracoViewPage<HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using GI.BackOffice
@using GI.BackOffice.Models.ViewModelsData
@using Umbraco.Cms.Core.Models
@using BreadcrumbViewData = Clean.Site.Models.ViewData.BreadcrumbViewData
@using BreadcrumbJumpViewData = Clean.Site.Models.ViewData.BreadcrumbJumpViewData

@{
    Layout = "Master.cshtml";

    var articles = (Umbraco.Content(Guid.Parse("c606cba8-dfeb-4db5-99be-e297710fe601")) as ArticleListPage)
        !.SectionsToShow
        !.SelectMany(x => x.Children)
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate);

    var featured = (Umbraco.Content(Guid.Parse("c606cba8-dfeb-4db5-99be-e297710fe601")) as ArticleListPage)
        !.SectionsToShow
        !.SelectMany(x => x.Children)
        .Where(x => x.IsVisible() && x.Value<bool>("isFeatured"))
        .OrderByDescending(x => x.CreateDate)
        .Take(5);

    var topImage = Model.Value<MediaWithCrops<Image>>("topImage");
    var bottomImage = Model.Value<MediaWithCrops<Image>>("bottomImage");

    <img class="nk-page-background-top" src="@topImage?.GetUrlWebp()" alt="">
    <img class="nk-page-background-bottom" src="@bottomImage?.GetUrlWebp()" alt="">
}


<!-- Main Content-->
<div class="nk-gap-1"></div>
<div class="container">
    @await Html.PartialAsync("~/Views/Partials/breadcrumb.cshtml", BreadcrumbViewData.FormHistory(Model))

    @await Html.PartialAsync("~/Views/Partials/blocklist/Components/featuredArticlesSlider.cshtml", featured)

    <!-- START: Categories -->
    <div class="nk-gap-2"></div>
    <div class="row vertical-gap">
        <div class="col-lg-4">
            <div class="nk-feature-1">
                <div class="nk-feature-icon">
                    <img src="assets/img/icon-mouse.png" alt="">
                </div>
                <div class="nk-feature-cont">
                    <h3 class="nk-feature-title">
                        <a href="#">PC</a>
                    </h3>
                    <h4 class="nk-feature-title text-main-1">
                        <a href="#">View Games</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="nk-feature-1">
                <div class="nk-feature-icon">
                    <img src="assets/img/icon-gamepad.png" alt="">
                </div>
                <div class="nk-feature-cont">
                    <h3 class="nk-feature-title">
                        <a href="#">PS4</a>
                    </h3>
                    <h4 class="nk-feature-title text-main-1">
                        <a href="#">View Games</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="nk-feature-1">
                <div class="nk-feature-icon">
                    <img src="assets/img/icon-gamepad-2.png" alt="">
                </div>
                <div class="nk-feature-cont">
                    <h3 class="nk-feature-title">
                        <a href="#">Xbox</a>
                    </h3>
                    <h4 class="nk-feature-title text-main-1">
                        <a href="#">View Games</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Categories -->

    <!-- START: Latest News -->

    @if (articles != null && articles.Any())
    {
        <div class="nk-gap-2"></div>
        <h3 class="nk-decorated-h-2">
            <span><span class="text-main-1">Останні</span> публікації</span>
        </h3>
        <div class="nk-gap"></div>

        var gallery = articles.Take(5);
        @await Html.PartialAsync("~/Views/Partials/newsGallery.cshtml", gallery)

        <div class="nk-gap-2"></div>

        var articlePage = articles.Skip(5).Take(6).ToList();

        <!-- START: Posts Grid -->
        <div class="nk-blog-grid">
            <div class="row are-images-unloaded">

                @await Html.PartialAsync("~/Views/Partials/articles/grid/default.cshtml", articlePage)

            </div>

            <div class="nk-gap-2"></div>

            <div class="nk-pagination-center all-articles">
                <a href="/articles?page=1" class="nk-btn nk-btn-lg nk-btn-rounded nk-btn-color-white" id="view-more-button">
                    До всіх публікацій
                </a>
            </div>

            <script>
                /*let grid = document.querySelector('.nk-blog-grid .row');
                 * 
                window.addEventListener('DOMContentLoaded', () => {
                    let msnry = new Masonry( grid, {
                        itemSelector: 'none', // select none at first
                        columnWidth: '.col-md-6',
                        percentPosition: true,
                        stagger: 30,
                        // nicer reveal transition
                        visibleStyle: { transform: 'translateY(0)', opacity: 1 },
                        hiddenStyle: { transform: 'translateY(100px)', opacity: 0 },
                    });

                    imagesLoaded(grid, function () {
                        grid.classList.remove('are-images-unloaded');
                        msnry.options.itemSelector = 'div.col-md-6';
                        let items = grid.querySelectorAll('div.col-md-6');
                        msnry.appended(items);
                    });

                    var infScroll = new InfiniteScroll(grid, {
                        path: function() {
                            let pageNumber = this.loadCount + 1;
                            return '@Url.Action("Index", "Article")' + `?page=${pageNumber}&pageSize=6`;
                        },
                        append: 'div.col-md-6', //what to append
                        button: '#view-more-button',
                        // using button, disable loading on scroll
                        scrollThreshold: false,
                        outlayer: msnry,
                        status: '.page-load-status',
                    });

                });*/

            
            </script>

        </div>

        <div class="page-load-status">
            <div class="loader-ellips infinite-scroll-request">
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
            </div>
            <p class="infinite-scroll-last">End of content</p>
            <p class="infinite-scroll-error">No more pages to load</p>
        </div>
        <!-- END: Posts Grid -->
    }

    <!-- END: Latest News -->

</div>
<div class="nk-gap-4"></div>