@inherits UmbracoViewPage<HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using GI.BackOffice
@using Umbraco.Cms.Core.Models
@using BreadcrumbViewData = Clean.Site.Models.ViewData.BreadcrumbViewData
@using Clean.Site.UmbracoHelpers

@{
    Layout = "Master.cshtml";

    var articles = Umbraco.GetPagedContent(1, 20).articlePage;
    var news = Umbraco.GetPagedContentForSection("newsSection", 1, 4).articlePage;
    var guides = Umbraco.GetPagedContentForSection("guidesSection", 1, 4).articlePage;
    var lor = Umbraco.GetPagedContentForSection("lORSection", 1, 4).articlePage;

    var featured = Model.FeaturedList!.Select(x => x as ContentPage)!;

    var topImage = Model.Value<MediaWithCrops<Image>>("topImage");
    var bottomImage = Model.Value<MediaWithCrops<Image>>("bottomImage");

    <img class="nk-page-background-top" src="@topImage?.GetUrlWebp()" alt="">
    <img class="nk-page-background-bottom" src="@bottomImage?.GetUrlWebp()" alt="">
}


<!-- Main Content-->
<div class="nk-gap-1"></div>
<div class="container">
    @await Html.PartialAsync("~/Views/Partials/breadcrumb.cshtml", BreadcrumbViewData.FormHistory(Model))

    @await Html.PartialAsync("~/Views/Partials/blocklist/Components/featuredArticlesSlider.cshtml", featured)

    <!-- START: Categories -->
    <div class="nk-gap-2"></div>
    <div class="row vertical-gap">
    </div>
    <!-- END: Categories -->

    <!-- START: Latest News -->

    @if (articles != null && articles.Any())
    {
        <div class="nk-gap-2"></div>
        <h3 class="nk-decorated-h-2">
            <span><span class="text-main-1">Останні</span> новини</span>
        </h3>
        <div class="nk-gap"></div>
        @await Html.PartialAsync("~/Views/Partials/articleLent.cshtml", news)


        <div class="nk-gap-2"></div>
        <h3 class="nk-decorated-h-2">
            <span><span class="text-main-1">Останні</span> гайди</span>
        </h3>
        <div class="nk-gap"></div>
        @await Html.PartialAsync("~/Views/Partials/articleLent.cshtml", guides)
        <div class="nk-gap-2"></div>

        <div class="nk-gap-2"></div>
        <h3 class="nk-decorated-h-2">
            <span><span class="text-main-1">Останні</span> лорні статті</span>
        </h3>
        <div class="nk-gap"></div>
        @await Html.PartialAsync("~/Views/Partials/articleLent.cshtml", lor)
        <div class="nk-gap-2"></div>

    }

    <!-- END: Latest News -->

</div>
<div class="nk-gap-4"></div>