@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        @await Html.PartialAsync("~/Views/Partials/metaData.cshtml")
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <!--<link href="/css/styles.css" rel="stylesheet" /> -->

        <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/dist/css/bootstrap.min.css">
            
        <!-- IonIcons -->
        <link rel="stylesheet" type="text/css" href="~/vendor/ionicons/css/ionicons.min.css">

        <!-- Flickity -->
        <link rel="stylesheet" type="text/css" href="~/vendor/flickity/dist/flickity.min.css">

        <!-- Photoswipe -->
        <link rel="stylesheet" type="text/css" href="~/vendor/photoswipe/dist/photoswipe.css">
        <link rel="stylesheet" type="text/css" href="~/vendor/photoswipe/dist/default-skin/default-skin.css">

        <!-- Seiyria Bootstrap Slider -->
        <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap-slider/dist/css/bootstrap-slider.min.css">

        <!-- Summernote -->
        <link rel="stylesheet" type="text/css" href="~/vendor/summernote/dist/summernote-bs4.css">

        <!-- Custom Styles -->
        <!-- <link rel="stylesheet" href="css/custom.css"> -->

        <!-- Site specific theme -->
        <link href="~/css/theme.css" rel="stylesheet" />
    
        <!-- END: Styles -->

        <!-- jQuery -->
    <script src="~/vendor/jquery/dist/jquery.min.js"></script>
    </head>
    <body>
        @await Html.PartialAsync("~/Views/Partials/header.cshtml")

        <div class="nk-main">
            @RenderBody()
        </div>

        <div class="nk-gap-2"></div>

        @await Html.PartialAsync("~/Views/Partials/footer.cshtml")

        <!-- START: Scripts -->
        <!-- Object Fit Polyfill -->
        <script src="~/vendor/object-fit-images/dist/ofi.min.js"></script>

        <!-- GSAP -->
        <script src="~/vendor/gsap/src/minified/TweenMax.min.js"></script>
        <script src="~/vendor/gsap/src/minified/plugins/ScrollToPlugin.min.js"></script>

        <!-- Popper -->
        <script src="~/vendor/popper.js/dist/umd/popper.min.js"></script>

        <!-- Bootstrap -->
        <script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Sticky Kit -->
        <script src="~/vendor/sticky-kit/dist/sticky-kit.min.js"></script>

        <!-- Jarallax -->
        <script src="~/vendor/jarallax/dist/jarallax.min.js"></script>
        <script src="~/vendor/jarallax/dist/jarallax-video.min.js"></script>

        <!-- imagesLoaded -->
        <script src="~/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

        <!-- Flickity -->
        <script src="~/vendor/flickity/dist/flickity.pkgd.min.js"></script>

        <!-- Photoswipe -->
        <script src="~/vendor/photoswipe/dist/photoswipe.min.js"></script>
        <script src="~/vendor/photoswipe/dist/photoswipe-ui-default.min.js"></script>

        <!-- Jquery Validation -->
        <script src="~/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

        <!-- Jquery Countdown + Moment -->
        <script src="~/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
        <script src="~/vendor/moment/min/moment.min.js"></script>
        <script src="~/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>

        <!-- Hammer.js -->
        <script src="~/vendor/hammerjs/hammer.min.js"></script>

        <!-- NanoSroller -->
        <script src="~/vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>

        <!-- SoundManager2 -->
        <script src="~/vendor/soundmanager2/script/soundmanager2-nodebug-jsmin.js"></script>

        <!-- Seiyria Bootstrap Slider -->
        <script src="~/vendor/bootstrap-slider/dist/bootstrap-slider.min.js"></script>

        <!-- Summernote -->
        <script src="~/vendor/summernote/dist/summernote-bs4.min.js"></script>

        <!-- nK Share 
    <script src="~/plugins/nk-share/nk-share.js"></script>-->

        <!-- GoodGames -->
        <script src="~/js/scripts.js"></script>
        <script src="~/js/scripts-init.js"></script>
        <!-- END: Scripts -->

    </body>
</html>

