@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@using GI.BackOffice
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}

@{
    var background = Model.Value<MediaWithCrops<Image>>("background");

    <img class="nk-page-background-bottom" src="" alt="">
}

<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("~/Views/Partials/metaData.cshtml")
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/dist/css/bootstrap.min.css">

    <link href="~/css/theme.css" rel="stylesheet" />
</head>
<body>

<div class="nk-main">
    <div class="nk-fullscreen-block">
        <div class="nk-fullscreen-block-top">
            <div class="text-center">
                <div class="nk-gap-4"></div>
                    <a href="/">
                        @await Html.PartialAsync("Partials/icons/siteHeaderIcon.cshtml")
                </a>
                <div class="nk-gap-2"></div>
            </div>
        </div>
        <div class="nk-fullscreen-block-middle">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                        <h1 class="text-main-1" style="font-size: 150px;">404</h1>
                        <div class="nk-gap"></div>
                            <h2 class="h4">Ой здається ти заблукав... </h2>
                        <div>Сторінка яку ти шукаєш не існує, або була переміщена<br/> Може повернешся назад?</div>
                        <div class="nk-gap-3"></div>
                        <a href="/" class="nk-btn nk-btn-rounded nk-btn-color-white">Return to Homepage</a>
                    </div>
                </div>
                <div class="nk-gap-3"></div>
            </div>
        </div>
        <div class="nk-fullscreen-block-bottom">
            <div class="nk-gap-2"></div>

            <div class="nk-gap-2"></div>
        </div>
    </div>
    
</div>

    <div class="nk-page-background-fixed" style="background-image: url('@background.GetUrlWebp()');"></div>

</body>
</html>

