@inherits UmbracoViewPage<BlockListItem>

@{
    var row = (ImageRow)Model.Content;
    var settings = (ImageRowSettings)Model.Settings;
    if(settings?.Hide ?? false) { return; }
    if(row.Image == null) return;

    var imgLink = string.IsNullOrEmpty(row.Link?.Url) ? "#" : row.Link?.Url;
}

<div class="nk-gallery-item-group">
    <a href="@imgLink" class="nk-gallery-item">
        <img src="@row.Image.Url()" alt="">
    </a>
    @if (!string.IsNullOrEmpty(@row.Caption))
    {
        <div class="nk-gallery-item-description">
            <h4 class="nk-gallery-item-description-title h5">@row.Caption</h4>
        </div>
    }
</div>
