<?xml version="1.0" encoding="utf-8"?>
<RelationType Key="a2072bb0-a9a4-4a8f-a4d4-7bf70eb1335d" Alias="relateUmbraCareDedicatedMediaFolderOnCreate" Level="0">
  <Info>
    <Name>Relate UmbraCare Dedicated Media Folder On Create</Name>
    <ParentType>c66ba18e-eaf3-4cff-8a22-41b16d66a972</ParentType>
    <ChildType>b796f64c-1f99-4ffb-b886-4bf4bc011a9c</ChildType>
    <Bidirectional>false</Bidirectional>
    <IsDependency>true</IsDependency>
  </Info>
</RelationType>