@using Umbraco.Cms.Core.Models
@using GI.BackOffice
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Services;

@inherits UmbracoViewPage;
@inject IUserService UserService;

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
@{
    var homeSiteTitle = Model.Value("siteTitle")?.ToString();
    var title = string.IsNullOrEmpty(Model.Value<string>("title")) ? homeSiteTitle : Model.Value<string>("title");
    <title>@title | GI</title>
    
    <meta property="og:title" content="@title" />
    <meta property="og:url" content="@Model.Url(mode: UrlMode.Absolute)" />
    <meta property="og:type" content="website" />

    switch (Model.ContentType.Alias)
    {
        case "homePage" or "articleListPage":
        {
            <meta property="og:image" content="assets/img/bg-fixed-1.jpg"/>
            <meta property="og:description" content="Провідник по тейвату"/>
            break;
        }
        case "contentPage":
        {
            var postImage = Model.Value<MediaWithCrops<Image>>("mainImage");

            <meta property="og:image" content="@postImage?.GetUrlWebp()" />
            <meta property="og:description" content="@Model.Value("title")?.ToString()" />
            break;
        }
    }

}